<div style="margin-bottom: 10px;">
    <span class="title">Percentage Calculator</span>
</div>

<form nz-form [nzLayout]="'vertical'" [formGroup]="numberForm">
    <nz-form-item>
        <nz-form-label [nzSpan]="formLabelSpan">Total Amount</nz-form-label>
        <nz-form-control [nzSpan]="formFieldSpan">
            <nz-input-number formControlName="totalAmount" [nzMin]="minValue"></nz-input-number>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="formLabelSpan">Percentage</nz-form-label>
        <nz-form-control [nzSpan]="formFieldSpan">
            <nz-input-number 
            formControlName="percentage" 
            [nzFormatter]="formatterPercent" 
            [nzParser]="parserPercent" 
            [nzMax]="maxPercent" 
            [nzMin]="minValue">
            </nz-input-number>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <label class="answer">
            <b>{{numberForm.controls['percentage'].value}} %</b> of 
            <b>{{numberForm.controls['totalAmount'].value}}</b> = 
            <b>{{ calc() }}</b>
        </label>
    </nz-form-item>
    <div style="margin-bottom: 10px;">
        <button nz-button nzType="primary" (click)="save()">Save</button>
    </div>
    
</form>

<nz-collapse>
    <nz-collapse-panel style="max-height: calc(100vh - 74vh);" [nzHeader]="'History'" [(nzActive)]="isContainerOpen">
        <div>
            <nz-table
            #historyList 
            [nzData]="tableData" 
            [nzSize]="'small'"
            [nzPageSize]="2">
                <thead>
                    <tr>
                        <th *ngFor="let header of tableConfig" [nzWidth]="header.width">{{header.label}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of historyList.data">
                        <td *ngFor="let header of tableConfig">{{data[header.key]}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>        
    </nz-collapse-panel>
</nz-collapse>